
.pokemons{
   padding: 0;
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}
@media screen and (min-width: 380px){
   .pokemons{
      grid-template-columns: 1fr 1fr;
   }
}
@media screen and (min-width: 576px){
   .pokemons{
      grid-template-columns: 1fr 1fr 1fr;
   }
}
@media screen and (min-width: 992px){
   .pokemons{
   grid-template-columns: 1fr  1fr 1fr 1fr;
}



}
.pokemon {
   display: flex;
   flex-direction: column;
   margin: .5rem;
   padding: 1rem;
   border-radius: 1rem;
   background-color: #4ad1b1;
}
   
.pokemon .number {
   color: #0A5C15;
   text-align: right;
   opacity: 0.6;
   font-size: .625rem;
}
.pokemon .name{
   margin-bottom: 0rem;
   color: azure;
}

.pokemon .datail{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.pokemon .datail .types {
   list-style: none;
   padding: 0;
   margin: 0;
   color: azure;
   
}
.pokemon .datail .types .type{
   background-color: #61e2cd;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.625rem;
    margin: 0.25rem 0;
}
.pokemon .datail img{
   width: 80px;
   max-width: 100%;
   align-self: flex-end;
}

